body {
    padding: 0;
    margin: 0;
    background-image: url("imgs/Glacier_Painting.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    color:#fff
    
}

.bio-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bio-image {
    width: 80%;
    height: auto;
    max-width: 600px;
}
.description-container {
    min-height: 50vh;
    font-size: 14pt;
}

.description {
    margin: 15vh auto;
    padding:30pt;
    text-align: center;
    width: 60%;
    min-width: 250px;
    background-color: rgb(174, 110, 65, 0.88)

}

@media (max-width: 865px) {
    .description-container {
        font-size: 1em;
    }
}

.hero {
    height: auto;
    min-height: 100vh;
    background-image: url("imgs/Glacier_Painting.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 2em;
    box-shadow: 0 -4px 10px rgb(0, 0, 0);
}


.hero .title {
    font-size: 1.5em;
    color: #fff;
    max-width: 90%;
    margin: 0 auto;
    padding: 2.2em;
    text-align: center;
    background-color: rgba(109, 35, 35, 0.647);
    box-sizing: border-box;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.54);
}


.title h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    letter-spacing: 0.1em;
}

.title h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
}

.hero .nav {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 300;
    color: #fff;
    margin-top: 2em;
    font-size: 2em;
    display: flex;
    flex-direction: row;
}

.hero .nav a {
    flex-grow: 1;
    color: #fff;
    text-decoration: none;
}

.hero .nav-item {
    font-size: 0.3em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
}

.hero .nav-item:hover {
    color: #fff;
    background-color: rgba(166, 161, 177, 0.5);
}

.menu {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 1em;
    background-color: rgb(174, 110, 65);
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    font-size: 1.25em;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.54);
}

.menu h1 {
    font-family: 'Fjalla One', sans-serif;
}

.menu .menu-group-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
}
.menu .menu-group {
    padding: 1em;
    min-width: 300px;
    max-width: 500px;
}

.menu .menu-head {
    font-style: italic;
    font-size: 1em;
    padding: 1em;
}

.menu .menu-item {
    text-align: left;
    font-style: normal;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    max-height: 300px;
  }
  
  div.scroll-container img {
    padding: 10px;
    max-height: 200px;
  }

.fjalla-one-regular {
    font-family: "Fjalla One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  :root {
    --font-fjalla-one: 'Fjalla One', sans-serif;
    --font-libre-baskerville: 'Libre Baskerville', serif;
} 

@media (max-width: 865px) {
    .hero .title {
        font-size: 1em;
        padding: 1.5em;
    }
}

@media (max-width: 585px) {
    .hero {
        min-height: 500px;
        padding: 1em;
    }
    .hero .title {
        font-size: 1em;
        padding: 1em;
    }
}

  @media (max-width: 445px) {
    .hero .title {
        font-size: 0.9em;
        padding: 0.8em;
    }
}

.websiteframe {
    border: 10px solid #ED8B00;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-color: #fff;
}