body {
    margin: 0;
    padding: 0;
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}



main {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; 
    background-color: #fff5d7;
    padding: 20px; 
    box-sizing: border-box; 
}

h1 {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0;
    word-wrap: break-word;
    color:aliceblue;
    text-shadow: 1px 1px 0 black;
}

h3 {
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
    word-wrap: break-word; 
    color: beige;
    text-shadow: none;
}

p {
    font-size: 1.75vw;
    line-height: 1.6;
    margin-top: 20px;
    margin-right: 20px;
    color: white
}

button {
    font-size: 2vw;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #ff5e6c;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffaaab;
}

.star {
    position: absolute;
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  


@media (max-width: 768px) {
    h1 {
        font-size: 10vw;
    }


    p {
        font-size: 3vw;
    }

    button {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 15vw;
    }

    p {
        font-size: 5vw;
    }

    button {
        font-size: 6vw;
    }
}
