body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; 
    background-color: #fff5d7;
    padding: 20px; 
    box-sizing: border-box; 
}

.section.title {
    text-align: center;
    color: #ff5e6c;
    width: 100%;
}

.section.title h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 75px;
    margin: 0;
    word-wrap: break-word;
    text-shadow: 3px 3px 0 black;
}

.section.title h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    margin: 0;
    word-wrap: break-word; 
    color: #ffaaab;
    text-shadow: 2px 2px 0 white;
}

.container {
    background-color: black;
    padding: 40px;
    border-radius: 30px;
    max-width: 2000px;
    width: 90%;
    margin: 20px auto 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.image-container {
    flex-shrink: 0; 
    width: 50%; 
    height: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
}

.image-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.content-container {
    width: 50%;
    text-align: left; 
}

p {
    font-size: 1.75vw;
    line-height: 1.6;
    margin-top: 20px;
    margin-right: 20px;
    color: white
}

button {
    font-size: 2vw;
    font-family: 'Fjalla One', sans-serif;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #ff5e6c;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffaaab;
}


@media (max-width: 768px) {
    .section.title h1 {
        font-size: 10vw;
    }

    .container {
        max-width: 90%;
        padding: 15px;
        flex-direction: column; 
        align-items: center; 
    }

    .image-container {
        margin-right: 0; 
        margin-bottom: 20px; 
        width: 100%; 
    }

    .content-container {
        width: 100%; 
    }

    p {
        font-size: 3vw;
    }

    button {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .section.title h1 {
        font-size: 15vw;
    }

    p {
        font-size: 5vw;
    }

    button {
        font-size: 6vw;
    }
}
